<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="exclusion-container">
          <h2>{{element.name}} - Exclusions</h2>
          <button class="update-btn" (click)="updateExclusion(element)">
            <i class="fa fa-check" aria-hidden="true"></i> Update
          </button>
          <span class="validation-error" *ngIf="errorMessage">{{errorMessage}}</span>
          <ul>
            <li *ngFor="let ex of element['exclusions']; index as key">
              <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput [value]="ex.description" #desc (blur)="ex.description = desc.value"/>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Condition</mat-label>
                <input matInput [value]="ex.condition" #cond (blur)="ex.condition = cond.value"/>
              </mat-form-field>
              <button md-button class="delete-btn" (click)="removeEntryFromExclusion(element, key)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </li>
            <li>
              <button class="add-btn" (click)="addEntryInExclusion(element)">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
  [class.example-expanded-row]="expandedElement === element"
  (click)="toggleExpandableRow(element)"></tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>