table {
    margin: 50px;
    width: 100%;
}

/** Expanded Table **/
tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

/** Exclusion content **/
.exclusion-container ul {
  list-style: none;
  width: 100%;
  padding-left: 0px;
}
.exclusion-container li > button.delete-btn {
  position: relative;
  left: 5px;
}
.exclusion-container li > button.add-btn {
  width: 35px;
  height: 35px;
  margin-left: 24%;
  margin-right: 10%;
  border-radius: 30px;
}
.exclusion-container button.update-btn {
  height: 35px;
}
.exclusion-container li > .mat-form-field:first-child {
  margin-right: 10px;
  width: 25%;
}
.exclusion-container li > .mat-form-field:nth-child(2) {
  width: 25%;
}
.exclusion-container span.validation-error {
  color: red;
  padding-left: 10px;
}